header {
  background-image: url("../css/icons/img/hobbit.jpg");
  height: 100vh;
  background-size: cover;
}
  
header .fondo-blanco {
  background: rgba(255, 255, 255, 0.5);
}
  
.bg-dark {
  background-color: transparent !important;
  transition:0.75s ease;
}
.bg-dark.scrolled {
  background: #527318 !important;
  
}
.navbar-light .navbar-toggler {
  background-color: white;
  }
#nav-color {
  color: white;
  font-weight: 500;
}
#nav-color:hover {
  text-decoration: none;
  color: #feb72b !important;
}


h1 {
  font-family: "Poor Story", cursive;
  color: #527318;
}

h2 {
  font-family: "Poor Story", cursive;
  /* background-color: #feb72b ; */
}
  
h3 {
  font-family: "Slabo 27px", serif;
}
  
.main-images {
  width: 450px;
  height: 450px;
  border-radius: 30px;
}
 
.epilogue {
  font-family: "Slabo 27px", serif;
}

/* .contact-form {
  background-color: black;
   
} */
.form-space {
  width: 400px;
  border-radius: 5px;
}


footer {
  background-color:  #527318;
  color: white;
  padding-bottom: 10px;
}

.icons {
 color: white;
 text-decoration: none;
}

.icons:hover {
    color: #ffe75e;
}

.carousel-caption {
  position: absolute; 
  right: 15%;
  top: 125px; /* Cambiar bottom por top y los píxeles que necesites */
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Añadir para conseguir el fondo con opacidad */
}

.maps {
  background-color: black;
}
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba (0,0,0,0.3);
  z-index:100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
 
}   