// icons size
$big_icon: 50px;
$med_icon: 25px;
$small_icon: 10px; 

// colores
$black-main: black;
$light-orange:#feb72b; 
$green-one: #899857;
$green-two:#527318;
$yellow: #ffe75e;
$white: white;

// tipografias
$subtitles: 'Slabo 27px', serif;
$main-title: 'Poor Story', cursive;

// images size
$middle-image: 450px;
